ul {
    list-style: none;
}

a {
    color: #4C9EE9;
}

.info {
    background-color: #4693D9;
}

.fa-twitter {
    color: #4C9EE9;
    font-size: 2.675rem;
}

.btn-primary {
    border: 0;
    background-color: #4C9EE9;
}